*{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
body{
    background-color: darkgrey;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    
}
#figure-caption{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#title h1{
    margin: 10px 10px 5px 10px;
}
#title p{
    margin: 0 10px 10px 10px;
    font-size: 20px;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image-caption{
    font-style: italic;
    align-self: flex-start;
}
#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}
#tribute-content{
    width:75%;
}
#more-info{
    align-self: flex-start;
}
@media (max-width:1000px){
    #image{
        width: 90%;
    }
    #tribute-content{
        width: 90%;
        align-self: flex-start;
        padding :20px;
    }
}